name: Builder

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      packages: write
      contents: read

    strategy:
      matrix:
        arch: [aarch64, amd64]

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Log in to Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Generate Docker metadata
        id: meta
        run: |
          IMAGE="ghcr.io/${{ github.repository_owner }}/scp-backup"
          TAG="edge"
          echo "image=${IMAGE}" >> $GITHUB_OUTPUT
          echo "tag=${TAG}" >> $GITHUB_OUTPUT
          echo "platforms=${{ matrix.arch == 'aarch64' && 'linux/arm64' || 'linux/amd64' }}" >> $GITHUB_OUTPUT

      - name: Build and push Docker image
        uses: docker/build-push-action@v5
        with:
          context: ./scp-backup
          push: true
          tags: ${{ steps.meta.outputs.image }}-${{ matrix.arch }}:latest
          platforms: ${{ steps.meta.outputs.platforms }}
